@charset "utf-8";

body {
  background: white;
  text-align: left;
  line-height: 1.4;
  max-width: 70em;
  margin: 0em auto;
  font-family: sans-serif;
  font-size: 1em;
}
header, main {
  background: white;
  padding: 2em;
  width: 100%;
}
h1 {
  color: navy;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  padding: 100px 0 10px;
  margin: 0; }

.padded-left > div {
  margin-top:1em;
}

.left {
  float:left;
}

.padded-left {
  padding-left: 2em;
  width:50%;
}

.row {
  clear:both;
  padding: 2em 0em;
}

.round {
   width: 300px; height: 300px; /* Witdth and height */
   border-radius: 50%; /* Превращаем в круг */
   background: url(../images/sh1.JPG) no-repeat -70px 0; /* Параметры фона */
   background-size: auto 300px; /* Высота фотографии равна высоте элемента */
   margin-top: 2em;
   float: left;
}
h2{
  font-size: 32px;
  font-family:'Lucida Console', monospace;
  font-stretch: semi-condensed;
  color:#B8860B;
}
.block {
  background: lightgrey;
  text-align: left;
  max-width: 50em;
  height: 50em;
  margin: 0em auto;

}
.hline {
  width:100%; height:1px; background: #B8860B;
}

.align-right{
  margin-right: 50em;

}
.padded-right> div {
margin-left: 1em;
}
.right {
  float:right;
}

.padded-right{
  padding-right: 1em;
  width:60%;
  margin-top: 2em;
}
