
<div class="block">
  <h2> Shahnoza  Muminzoda </h2>
<div>
  <div class="hline">  </div>
    <div  class="round">
    </div>
<div class="left padded-left">
    <div>
      <strong>Origin:</strong>
      <span>Tajikistan</span>
      </div>
      <div>
      <strong>Past experience:</strong>
      <span>Methodologist in bank of Tajikistan</span>
     </div>
      <div>
      <strong>Expectations for the future:</strong>
      <span>Learn front-end </span>
      </div>

      <div>
      <strong>What I liked and disliked on the block:</strong>
      <p>  I like the freedom given by teacher and that we can practice more than learn theory. I dislike 9am morning class, would be better to start at 10:00 :)</p>
    </div>
    </div>
</div>
</div>
